<mat-toolbar class="app-title">Criar nova conta</mat-toolbar>
<div class="main-div">
  <mat-card class="login"  >
    <form autocomplete="off" novalidate  >
      <mat-card-content>
        <div><mat-form-field class="full-width">
          <input matInput placeholder="Login" name="login">          
        </mat-form-field></div>
        <div><mat-form-field class="full-width">
          <input matInput placeholder="Senha" name="senha">          
        </mat-form-field></div>
        <div><mat-form-field class="full-width">
          <input matInput placeholder="Confirmar Senha" name="confirmarSenha">          
        </mat-form-field></div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button type="submit" color="primary">Criar Conta</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
